/*
[v-cloak] {
		display: none;
	} */

	@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
	* {
		display: flexbox;
	}
	body{
		margin: 0;
	}
	.container{
		height:100px;
		width:2000px;
		text-align:center;
		
	}
	
	.logo-sena {
		max-width: 100px;
		margin-top: 10%;
		margin-block-end: 50px;
	}
	
	#container-primary {
		/* height: 800px;
		width: 100%; */
		/* display: flex;
		float: right; */
		background-color: rgb(148, 210, 226);
		border-radius: 20px;
		text-align: center;
	}
	/* .contenedor-galeria{
		max-width:1000px; 
		height: 300px
	} */
	.contenedor-galeria{
		margin-left: 10px;
		text-align: center;
	}
	.contenedor-galeria img {
		margin-left:30px;
	}
	
	.center{
		text-align: center;
		margin: 30px;
		margin-left: 200px;
		margin-right: 200px;
		display: flex;
	}
	 .center  p{
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		 width: 50%;
		 height: 50%;
		 margin: auto;
		
	}
	img{
		width: 200px; height: 200px;
	}
	
	/* .img{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	} */
	.body-acusacion {
		background-color: rgb(224, 253, 255);
		border-radius: 20px;
		height: 400px;
	}
	
	.body-acusacion p {
		color: rgb(0, 0, 0);
		font-size: 23px;
		font-weight: 1000;
		position: absolute;
	}
	.con
	
	.h1-module {
		font-size: 20px;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		margin-top: 20px;
	}
	
	#seleccion {
		position: relative;
		background-color: rgb(188, 253, 255);
		border-radius: 20px;
		height: 50px;
		color: rgb(2, 2, 2);
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: 20px;
		width: 280px;
	}
	
	#seleccion option {
		color: rgb(0, 0, 0);
		display: flex;
	}
	