@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
*{
  padding: 0;
  margin: 0;
  display: flexbox;
}
/* background */
.background{
  background: #EFF4FD;
  max-height: 100%;
  width: 100%;
}
/* imagenes */
.container-img{
margin-left: 160vh;
display:flex;
}    
.img-page-sena{
  width: 100px;
  border-radius: 20px;
  margin-right: 10px;
} 
.container-nv{
  background: #ffff;
  height: 73vh;
  max-width: 100%;
  margin: 4% 3% 5% 3%;
  border-radius: 40px;
  text-align: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  /* titulo */
.coder-title{
    margin-top:30px ;
    font-family: 'Alfa Slab One', cursive;
    font-size: 70px  
  };

  /* input  */
.coder-input{
    border-block: 1px solid;
    width: 80vh;
    display: flexbox;
  }
.coder-input input{
  max-width: 100%;
  height: 11vh;
  display: flexbox;
  margin-top: 10vh;
  border-radius: 30px;
  font-size: 50px;
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  background-color: #EFF4FD;
  box-shadow:0.1px 0.1px 1px 1px;
}
/* button  */
.coder-button{
  margin-top: 15vh;
  width: 50vh;
  display: flexbox;
  border-radius: 30px;
  background-color: #CADDFF;
  font-size: 30px;
  text-align: center;
}
.coder-button h1{
  display: flexbox;
  float:right;
  margin:10px 38% 2px 2px
 
}

.coder-img{
  margin: 15px 100px 2px 2px ;
  width: 50px;
  position: center;
  display: flexbox;
  }